#container {
	width: 500px;
	height: 400px;
	background-color: #462A4F;
	position: relative;
}

.bar {	
	background-color: #15BAE8;
	float: left;
	position: absolute;
}

#canvas {
	float: left;
	margin: 16px 0 0 150px;
	border: 1px solid #ddd;
}